<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>N°</th>
          <th>Id</th>
          <th>Marque</th>
          <th>Prix</th>
          <th>Date Fabrication</th>
          <th>Type Mouvement</th>
          <th>Actions</th>
        </tr>
        @for (watche of watches; track watche.idWatche; let index = $index) {
          <tbody>
            <tr>
              <td>{{index}}</td>
              <td>{{watche.idWatche}}</td>
              <td>{{watche.marque}}</td>
              <td>{{watche.prixWatche}}</td>
              <td>{{watche.dateFabrication | date:'dd/MM/yyyy'}}</td>
              <td>{{watche.typeMouvement}}</td>
              <td>
                <a class="btn btn-danger" (click)="supprimerWatche(watche)">Supprimer</a>
                <a class="btn btn-success" [routerLink]="['/updateWatche', watche.idWatche]">Modifier</a>
              </td>
            </tr>
          </tbody>
        } @empty {
          <h1>Aucune watche trouvée !</h1>
        }
      </table>
    </div>
  </div>
</div>
